<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UI Mockups for Github">
    <meta name="author" content="Bark Software">
    <meta name="csrf" content="<%= Plug.CSRFProtection.get_csrf_token() %>">

    <title>Beer Napkin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/async/1.5.2/async.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.1/fabric.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.12.0/lodash.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Amatic+SC:400,700:latin,latin-ext']
        }
      });
    </script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div id="navbar" class="navbar navbar-default navbar-static-top">
        <a href="/"><img id="logo" src="<%= static_path(@conn, "/images/logo.png") %>" alt="Beer Napkin Logo" /></a>
        <a href="/napkins/new" class='btn btn-primary btn-lg' id='new-napkin'>
          <i class="fa fa-plus"></i> New Napkin
        </a>
        <div id="user" class="pull-right">
          <%= if @current_user do %>
            <span id="user-control" data-toggle="dropdown" class="pull-right dropdown dropdown-toggle">
              <div class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img src="<%= @current_user.image %>" class="img-rounded user-img">
                <span><%= @current_user.username %></span>
              </div>
              <ul class="dropdown-menu">
                <li>
                <!--TODO: why doesn't this work without the onclick? -->
                <%= link(to: auth_path(@conn, :delete), method: :delete) do %>
                  <i class="fa fa-sign-out"></i> Log out
                <% end %>
                </li>
              </ul>
            </span>
          <% else %>
            <a class="btn btn-default" href="/auth/github"><i class="fa fa-github"></i> Log In w/ Github</a>
          <% end %>
        </div>
        <div id="editor-buttons" class="btn-group pull-right">
          <button title="undo" class="btn btn-default" type="button" id="undo"><i class="fa fa-undo"></i></button>
          <button title="redo" class="btn btn-default" type="button" id="redo"><i class="fa fa-rotate-right"></i></button>
          <button title="duplicate" class="btn btn-default" type="button" id="duplicate-object"><i class="fa fa-copy"></i></button>
          <button title="send to back" class="btn btn-default" type="button" id="send-to-back"><i class="fa fa-level-down"></i></button>
          <button title="bring to front" class="btn btn-default" type="button" id="bring-to-front"><i class="fa fa-level-up"></i></button>
          <button title="remove object" class="btn btn-default" type="button" id="remove-active-object"><i class="fa fa-trash"></i></button>
        </div>
    </div>
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
